/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:407 */
.x-panel-header-highlight-framed-collapsed-bottom-tl,
.x-panel-header-highlight-framed-collapsed-bottom-bl,
.x-panel-header-highlight-framed-collapsed-bottom-tr,
.x-panel-header-highlight-framed-collapsed-bottom-br,
.x-panel-header-highlight-framed-collapsed-bottom-tc,
.x-panel-header-highlight-framed-collapsed-bottom-bc,
.x-panel-header-highlight-framed-collapsed-bottom-ml,
.x-panel-header-highlight-framed-collapsed-bottom-mr {
    background-image: url(images/panel-header/panel-header-highlight-framed-collapsed-bottom-corners.gif);
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:453 */
.x-panel-header-highlight-framed-collapsed-bottom-ml,
.x-panel-header-highlight-framed-collapsed-bottom-mr {
    background-image: url(images/panel-header/panel-header-highlight-framed-collapsed-bottom-sides.gif);
    background-repeat: repeat-y;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:464 */
.x-panel-header-highlight-framed-collapsed-bottom-mc {
    padding: 7px 11px 8px 11px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:187 */
.x-panel-header-highlight-framed-collapsed-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 11px 15px 12px;
    border-width: 1px;
    border-style: solid;
    background-color: red;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:237 */
.x-panel-header-highlight-framed-collapsed-left-mc {
    background-color: red;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:264 */
.x-nbr .x-panel-header-highlight-framed-collapsed-left {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:281 */
.x-panel-header-highlight-framed-collapsed-left-frameInfo {
    font-family: dh-5-5-5-5-1-1-1-1-15-11-15-12;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:347 */
.x-panel-header-highlight-framed-collapsed-left-tl {
    background-position: 0 -10px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:351 */
.x-panel-header-highlight-framed-collapsed-left-tr {
    background-position: right -15px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:355 */
.x-panel-header-highlight-framed-collapsed-left-bl {
    background-position: 0 -20px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:359 */
.x-panel-header-highlight-framed-collapsed-left-br {
    background-position: right -25px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:363 */
.x-panel-header-highlight-framed-collapsed-left-ml {
    background-position: left 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:371 */
.x-panel-header-highlight-framed-collapsed-left-mr {
    background-position: left 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:379 */
.x-panel-header-highlight-framed-collapsed-left-tc {
    background-position: 0 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:383 */
.x-panel-header-highlight-framed-collapsed-left-bc {
    background-position: 0 -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:388 */
.x-panel-header-highlight-framed-collapsed-left-tr,
.x-panel-header-highlight-framed-collapsed-left-br,
.x-panel-header-highlight-framed-collapsed-left-mr {
    padding-right: 5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:394 */
.x-panel-header-highlight-framed-collapsed-left-tl,
.x-panel-header-highlight-framed-collapsed-left-bl,
.x-panel-header-highlight-framed-collapsed-left-ml {
    padding-left: 5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:400 */
.x-panel-header-highlight-framed-collapsed-left-tc {
    height: 5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:403 */
.x-panel-header-highlight-framed-collapsed-left-bc {
    height: 5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:407 */
.x-panel-header-highlight-framed-collapsed-left-tl,
.x-panel-header-highlight-framed-collapsed-left-bl,
.x-panel-header-highlight-framed-collapsed-left-tr,
.x-panel-header-highlight-framed-collapsed-left-br,
.x-panel-header-highlight-framed-collapsed-left-tc,
.x-panel-header-highlight-framed-collapsed-left-bc,
.x-panel-header-highlight-framed-collapsed-left-ml,
.x-panel-header-highlight-framed-collapsed-left-mr {
    background-image: url(images/panel-header/panel-header-highlight-framed-collapsed-left-corners.gif);
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:453 */
.x-panel-header-highlight-framed-collapsed-left-ml,
.x-panel-header-highlight-framed-collapsed-left-mr {
    background-image: url(images/panel-header/panel-header-highlight-framed-collapsed-left-sides.gif);
    background-repeat: repeat-y;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/frame.scss:464 */
.x-panel-header-highlight-framed-collapsed-left-mc {
    padding: 11px 7px 11px 8px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1188 */
.x-panel .x-panel-header-highlight-framed-top {
    border-bottom-width: 1px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1192 */
.x-panel .x-panel-header-highlight-framed-right {
    border-left-width: 1px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1196 */
.x-panel .x-panel-header-highlight-framed-bottom {
    border-top-width: 1px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1200 */
.x-panel .x-panel-header-highlight-framed-left {
    border-right-width: 1px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1206 */
.x-nbr .x-panel-header-highlight-framed-collapsed-top {
    border-bottom-width: 0 !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1210 */
.x-nbr .x-panel-header-highlight-framed-collapsed-right {
    border-left-width: 0 !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1214 */
.x-nbr .x-panel-header-highlight-framed-collapsed-bottom {
    border-top-width: 0 !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1218 */
.x-nbr .x-panel-header-highlight-framed-collapsed-left {
    border-right-width: 0 !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1336 */
.x-panel-header-highlight-framed-horizontal .x-tool-after-title {
    margin: 0 0 0 6px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1346 */
.x-panel-header-highlight-framed-horizontal .x-tool-before-title {
    margin: 0 6px 0 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1358 */
.x-panel-header-highlight-framed-vertical .x-tool-after-title {
    margin: 6px 0 0 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1368 */
.x-panel-header-highlight-framed-vertical .x-tool-before-title {
    margin: 0 0 6px 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1381 */
.x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/css-outline.scss:63 */
.x-ie .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus,
.x-ie10p .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus,
.x-edge .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus {
    outline: none;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/css-outline.scss:39 */
.x-ie .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus:after,
.x-ie10p .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus:after,
.x-edge .x-keyboard-mode .x-panel-header-highlight-framed .x-tool-focus:after {
    position: absolute;
    content: ' ';
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #fff;
    pointer-events: none;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1426 */
.x-panel-highlight-framed-resizable {
    overflow: visible;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1429 */
.x-panel-highlight-framed-resizable .x-panel-handle {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1438 */
.x-panel-highlight-framed-resizable .x-panel-handle-north-br {
    top: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1441 */
.x-panel-highlight-framed-resizable .x-panel-handle-south-br {
    bottom: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1444 */
.x-panel-highlight-framed-resizable .x-panel-handle-east-br {
    right: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1447 */
.x-panel-highlight-framed-resizable .x-panel-handle-west-br {
    left: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1450 */
.x-panel-highlight-framed-resizable .x-panel-handle-northwest-br {
    left: -5px;
    top: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1454 */
.x-panel-highlight-framed-resizable .x-panel-handle-northeast-br {
    right: -5px;
    top: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1458 */
.x-panel-highlight-framed-resizable .x-panel-handle-southeast-br {
    right: -5px;
    bottom: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-neutral/sass/var/panel/Panel.scss:1462 */
.x-panel-highlight-framed-resizable .x-panel-handle-southwest-br {
    left: -5px;
    bottom: -5px;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:2 */
.x-panel-highlight-framed-outer-border-l {
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:6 */
.x-panel-highlight-framed-outer-border-b {
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:10 */
.x-panel-highlight-framed-outer-border-bl {
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:16 */
.x-panel-highlight-framed-outer-border-r {
    border-right-color: red !important;
    border-right-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:20 */
.x-panel-highlight-framed-outer-border-rl {
    border-right-color: red !important;
    border-right-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:26 */
.x-panel-highlight-framed-outer-border-rb {
    border-right-color: red !important;
    border-right-width: 5px !important;
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:32 */
.x-panel-highlight-framed-outer-border-rbl {
    border-right-color: red !important;
    border-right-width: 5px !important;
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:40 */
.x-panel-highlight-framed-outer-border-t {
    border-top-color: red !important;
    border-top-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:44 */
.x-panel-highlight-framed-outer-border-tl {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:50 */
.x-panel-highlight-framed-outer-border-tb {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:56 */
.x-panel-highlight-framed-outer-border-tbl {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:64 */
.x-panel-highlight-framed-outer-border-tr {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-right-color: red !important;
    border-right-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:70 */
.x-panel-highlight-framed-outer-border-trl {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-right-color: red !important;
    border-right-width: 5px !important;
    border-left-color: red !important;
    border-left-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:78 */
.x-panel-highlight-framed-outer-border-trb {
    border-top-color: red !important;
    border-top-width: 5px !important;
    border-right-color: red !important;
    border-right-width: 5px !important;
    border-bottom-color: red !important;
    border-bottom-width: 5px !important;
}
/* D:/Projects/myWorkspace/ext/classic/theme-base/sass/etc/mixins/border-management.scss:86 */
.x-panel-highlight-framed-outer-border-trbl {
    border-color: red !important;
    border-width: 5px !important;
}